*{
    margin: 0px;
}
.topo{
    background-color: red;
    text-decoration: none;
    width: 100%;
    padding: 30px;
}
.topo a{
    border: 1px solid gold;
    text-decoration: none;
    justify-content: center;
    padding: 10px 10px 10px; 
    color: aliceblue; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}
.topo img{
    width: 180px;
    height: 100px;
}
.tloja{
    text-align: center;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 15px;
}
.full{
    text-align: center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.texto-home{
    background-image: url("./img/fundo.jpg");
    width: 100%;
    height: 300px;
    padding: 30px;
    text-align: center;
    color: aliceblue;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.texto-home h2{
    margin-top: 40px;
}
.texto-home p{
    margin-top: 50px;
}
.loja{
    margin-left: 15px;
    margin-top: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.form{
    
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    padding: 100px;
    width: 100%;
    display: flexbox;
    align-items: center;
    height: auto;

}
.conteiner{
    background:red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: auto;    
}

.contato{
    display: flex;
    width: 30%;
    padding: 20px;
    margin-left: 0px; 
    color: aliceblue;  
   
}

.Informacoes{
    display: flex;
    width: 30%;   
    padding: 20px;  
    text-align: center; 
    color: aliceblue;  
}
.pagamento{
    flex-direction: column;
    width: 30%;    
    padding: 20px; 
    color: aliceblue; 
       
}
.imagem-pagamento{
    width: 80%;
    height: 80px;
}